/******************************************/
/* typography, "top level" element styles */
/******************************************/

html, body {
    background: @taupe-gray;
}

/*
header {
    background-image: url('../img/hero-sm.png');
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 240px;
}
*/