/******************************************/
/* typography, "top level" element styles */
/******************************************/

.martel-sans(@size: 1rem, @weight: 400) {
    font-family: 'Martel Sans', sans-serif;
    font-size: @size;
    font-weight: @weight;
}

html, body {
    background: @taupe-gray;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}