/* Main.less */
html {
  font-size: 62.5%;
  background-color: black;
  color: @white;
}

.header {
  color: @white;
  background-color: #000000;
  width: 100%;
  //height: 60vw;
  .flexc();
  align-items: center;
  justify-content: flex-end;
  line-height: 1;

  &__image {
    width: 100%;
    //height: 50vw;
  }

  &__title {
    font-size: @font-size-h1;
    font-family: @font-header;
    text-align: center;
    margin: 0;
    padding: 0;
    line-height: 1;
  }

  &__subtitle {
    font-size: @font-size-h2;
    font-family: @font-header;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  &__nav {
    .flexr();
    justify-content: space-around;
    margin-top: 2vh;
    width: 50%;

    @media @phone {
      .flexc();
    }

    &__item {
      color: @nav-font;
      text-decoration: none;
      font-size: 2.2rem;
      font-family: @font-text;
      border-left: 1px dotted @nav-border;
      padding: 0 4vw;

      &:first-child {
        border-left: 0;
      }

      @media @phone {
        font-size: 2.8rem;
        padding: 2vh;
        border-bottom: 1px dotted orange;
        width: 100%;
        text-align: center;
        border-left: 0;

        &:first-child {
          border-top: 1px dotted orange;
        }
      }

      &:hover {
        color: @nav-hover;
      }
    }
  }
}

.section {
  margin: 4vh 4vw;
  padding: 2vh 2vw;
  background-image:url(../images/bg-orange.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1vh;

  &__title {
    margin: 4vh 0 0 0;
    padding: 0 0;
    font-size: @font-size-h2;
    font-family: @font-header;
  }

  &__text {
    font-size: 1.6rem;
    font-family: @font-text;

    &--strong {
      font-family: @font-text-strong;
    }
  }

  &--orange {
    background-color: @bgcolor;
    color: @textcolor;

    .button {
      font-family: @font-header;
      font-size: @font-size-h2;
      border: 5px solid black;
      padding: 0 1.3vw 0.5vh 2vw;
      border-radius: 1vh;
      background-color: @textcolor;
      color: @bgcolor;
      text-decoration: none;

      &:hover {
        color: @white;
      }
    }
  }

  &--wsubsections {
    .flexr();
    flex-wrap: wrap;
    padding: 0 2vw 2vh 2vw;

    .section__title {
      width: 100%;
      align-self: center;
      text-align: center;
      margin-bottom: 2vh;
    }
  }

  &__subsection {
    border: 3px solid black;
    padding: 1vh 1vw;
    width: 30%;
    background: white;
    color: black;
    .flexc();
    align-items: center;

    .headshot {
      width: 95%;
      border: 2px solid black;
    }

    .headshot__name {
      font-family: @font-header;
      font-size: @font-size-h2;
    }
  }
}

.bubble {
  margin: 2vh;
  padding: 0 2vw 4vh 6vw;
  min-height: 20vh;
  color: @textcolor;
  background-image:url(../images/speechbubble.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  .flexc();
  float: right;
  width: 27%;

  &__title {
    font-size: @font-size-h2;
    font-family: @font-header;
  }

  &__text {
    font-size: 1.6rem;
    font-family: @font-text;
  }

  @media @phone {
    width: 87%;
  }
}

.bubble--wtitle {
  background-image:url(../images/speechbubble_wtitle.png);
}

.bubble--flipped {
  transform:scaleX(-1);
  padding: 0vh 4vw 4vh 4vw;
  float: left;

  .bubble__title {
    transform:scaleX(-1);
  }
  .bubble__text {
    transform:scaleX(-1);
  }
}

.image {
  width: 100%;
  //border-radius: 1vw;
  border: 3px solid black;
  margin: auto;
  //float: right;
}

.image--right {
  //float: right;
}
