/* Variables.LESS */


/* Colors */
@white: #FFFFFF;
@bgcolor: orange;
@textcolor: black;
@bordercolor: yellow;
@nav-bg: black;
@nav-font: white;
@nav-hover: orange;
@nav-border: orange;
@header-font-color: black;
@main-font-color: #333333;
@main-border-color: orange;
@footer-background: black;
@footer-font-color: orange;

@font-size-h1: 4.2rem;
@font-size-h2: 2.8rem;
@font-header: 'komika_titleregular';
@font-text: 'komika_textregular';
@font-text-strong: 'komika_textbold';

// Mobile var
@phone: ~"(max-width: 796px)";
