#key-features {
    .flex-column();
    padding: 2.5rem 0;
    color: @featurePurple;
    text-shadow: 0.1rem 0.1rem 0.2rem wheat;
    padding: 0 1.5%;
    margin:0 auto 7.5rem auto;
    max-width: 165rem;

    h2 {
        font-size: 5.2rem;
        text-align: center;
        color: @featurePurple;
        text-shadow: 0.1rem 0.1rem 0.2rem wheat;

        @media @desktop {
            font-size: 7.2rem;
        }
    }

    .feature {
        width: 85%;
        margin: 5rem 0;

        @media @desktop {
            min-width: 100rem;
            box-shadow: 0.5rem 1rem 1.5rem;
        }

        div {
            @media @desktop {
                width: 35%;
                padding: 4.5rem 6.5rem;
            }
        }

        .feature-graphic {
            max-width: 100%;
            margin-bottom: 1.5rem;
            border-bottom: solid 0.2rem @featurePurple;

            @media @desktop {
                display: none;
            }
        }

        h3 {
            font-size: 3.4rem;
            margin-bottom: 1.5rem;

            @media @desktop {
                font-size: 4.8rem;
            }
        }

        p {
            @media @desktop {
                font-size: 1.8rem;
            }
        }
    }

    .feature:nth-child(2) {
        @media @desktop {
            .backgroundCover(@feature1);
        }
    }

    .feature:nth-child(3) {
        @media @desktop {
            .backgroundCover(@feature2);

            div {
                float: right;
                text-align: right;
            }
        }
    }

    .feature:nth-child(4) {
        @media @desktop {
            .backgroundCover(@feature3);
        }
    }

    .invert {
        align-self: flex-end;
    }
}

#call-2-action {
    .flex-column();
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    background: linear-gradient(white, transparent 35%), url(@actionBackground);
    background-size: cover;
    background-repeat: no-repeat;

    h2 {
        font-size: 6.4rem;
        margin-bottom: 2.5rem;
        color: @featurePurple;
        text-shadow: 0.1rem 0.1rem 0.2rem wheat;
    }

    .action-container {
        .flex-column();
        height: 40%;
        color: @featurePurple;
        text-shadow: 0.1rem 0.1rem 0.2rem wheat;

        @media @mobile {
            width: 100vw;
        }

        @media @midSized {
            width: 80vw;
        }

        @media @desktop {
            width: 40vw;
        }

        p {
            margin: 10% auto;
            width: 70%;
            font-size: 2.2rem;
        }

        .c2a-button {
            border: 0.5rem solid @featurePurple;
            border-radius: 1.5rem;
            width: 70%;
            margin: 0 auto;

            a {
                text-decoration: none;
                color: @featurePurple;
                text-shadow: 0.1rem 0.1rem 0.2rem wheat;
                font-size: 5.2rem;
            }
        }
    }
}

#mission {
    padding: 5rem 0;

    div {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        background-color: rgba(00, 00, 00, 0.1);
        padding: 1.5rem;
        border-radius: 1.5rem;

        @media @desktop {
            width: 50%;
        }

        h2 {
            color: @featurePurple;
            font-size: 3.2rem;
            text-align: center;
            margin-bottom: 2.5rem;
        }

        p {
            color: @featurePurple;
            font-size: 1.4rem;

            @media @desktop {
                font-size: 1.8rem;
            }
        }
    }
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5rem;
}