#key-features {
    .flex-column;
    padding: 25px 0;
    color: #583e53;
    text-shadow: 1px 1px 2px wheat;
    padding: 0 1.5%;
    margin-bottom: 75px;

    h2 {
        font-size: 5.2rem;
        text-align: center;
        color: #583e53;
        text-shadow: 1px 1px 2px wheat;

        @media @desktop {
            font-size: 7.2rem;
        }
    }

    .feature {
        width: 85%;
        margin: 50px 0;

        @media @desktop {
            height: 450px;
            padding: 45px 65px;
        }

        div {
            @media @desktop {
                width: 35%;
            }
        }

        .feature-graphic {
            max-width: 100%;
            margin-bottom: 15px;

            @media @desktop {
                display: none;
            }
        }

        h3 {
            font-size: 3.4rem;
            margin-bottom: 15px;

            @media @desktop {
                font-size: 4.8rem;
            }
        }

        p {
            @media @desktop {
                font-size: 1.8rem;
            }
        }
    }

    .feature:nth-child(2) {
        @media @desktop {
            .backgroundFullWidth(@feature1);
        }
    }

    .feature:nth-child(3) {
        @media @desktop {
            .backgroundFullWidth(@feature2);

            div {
                float: right;
                text-align: right;
            }
        }
    }

    .feature:nth-child(4) {
        @media @desktop {
            .backgroundFullWidth(@feature3);
        }
    }

    .invert {
        align-self: flex-end;
    }
}

.call-2-action {
    .flex-column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 100vh;

    h2 {
        font-size: 4.8rem;
    }

    div:nth-child(2) {
        width: 35%;
    }

    .c2a-button {

        a {
            text-decoration: none;
        }
    }
}