#key-features {
    display: flex;
    flex-direction: column;
    padding: 25px 0;
    color: #583e53;
    text-shadow: 1px 1px 2px wheat;
    padding: 0 1.5%;

    @media (max-width: 500px) {
        padding: 0 1.5%;
    }

    h2 {
        font-size: 4.8rem;
        text-align: center;
        color: #583e53;
        text-shadow: 1px 1px 2px wheat;
    }

    .feature {
        width: 85%;
        margin: 50px 0;

        .feature-graphic {
            max-width: 100%;
            margin-bottom: 15px;
        }

        h3{
            font-size: 3.4rem;
            margin-bottom: 15px;
        }
    }

    .invert {
        align-self: flex-end;
    }
}