header {
    width: 100%;

    @media @mobile {
        .headerBackground(@blueHeaderGradient, @whiteHeaderGradient, @headerMobile, @fullHeight, 60% 0);
    }

    @media @midSized {
        .headerBackground(@blueHeaderGradient, @whiteHeaderGradient, @headerDesktop, @fullHeight, 60% 0);
    }

    @media @desktop {
        .headerBackground(@blueHeaderGradient, @whiteHeaderGradient, @headerDesktop, @fullWidth);
    }
    
    nav {
        display: flex;
        flex-direction: row-reverse;
        padding: 15px;

        ul {
            list-style: none;
            display: flex;

            li {
                padding: 5px;

                a {
                    text-decoration: none;
                    color: wheat;
                }
            }
        }
    }

    .header {
        height: 100vh;
        display: flex;
        align-items: center;
        margin-bottom: 100px;

        div {
            margin: 0 auto;
            text-align: center;

            h1 {
                font-size: 4.8rem;
                color: wheat;
                margin-bottom: 15px;
            }

            h2 {
                font-size: 3.2rem;
                color: wheat;
                margin-bottom: 25px;
            }

            a {
                text-decoration: none;
                color: wheat;
                border: solid 1px wheat;
                border-radius: 15px;
                padding: 5px 15px;
            }
        }
    }
}