header {
    width: 100%;

    @media @mobile {
        .headerBackground(@blueHeaderGradient, @whiteHeaderGradient, @headerMobile, @fullHeight, 60% 0);
    }

    @media @midSized {
        .headerBackground(@blueHeaderGradient, @whiteHeaderGradient, @headerDesktop, cover, 60% 0);
    }

    @media @desktop {
        .headerBackground(@blueHeaderGradient, @whiteHeaderGradient, @headerDesktop, cover);
    }
    
    nav {
        display: flex;
        flex-direction: row-reverse;
        padding: 1.5rem;

        ul {
            list-style: none;
            display: flex;

            li {
                padding: 0.5rem;

                a {
                    text-decoration: none;
                    font-size: 2.2rem;
                    padding: 0 1rem;
                    .smallLightText();

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .header {
        height: 100vh;
        display: flex;
        align-items: center;
        margin-bottom: 10rem;

        div {
            margin: 0 auto;
            text-align: center;

            h1 {
                font-size: 4.8rem;
                margin-bottom: 1.5rem;
                .largeLightText();
            }

            h2 {
                font-size: 3.2rem;
                margin-bottom: 2.5rem;
                .largeLightText();
            }

            a {
                text-decoration: none;
                border: solid 0.1rem wheat;
                border-radius: 1.5rem;
                padding: 0.5rem 1.5rem;
                .smallLightText();

                &:hover {
                    background-color: wheat;
                    color: @featurePurple;
                }
                
            }
        }
    }
}