.flexColumn {
    display: flex;
    flex-direction: column;
}

.largeLightText {
    color: wheat;
    text-shadow: 0.1rem 0.1rem 0.2rem @featurePurple;
}

.smallLightText {
    color: wheat;
    text-shadow: 0.08rem 0.08rem 0.2rem @featurePurple;
}

.largeDarkText {
    color: @featurePurple;
    text-shadow: 0.1rem 0.1rem 0.2rem wheat;
}

.smallDarkText {
    color: @featurePurple;
    text-shadow: 0.08rem 0.08rem 0.2rem wheat;
}

.headerBackground(@gradient1, @gradient2, @url, @size, @position: initial) {
    background: linear-gradient(@gradient1), 
        linear-gradient(@gradient2), 
        url(@url);
    background-size: @size;
    background-position: @position;
    background-repeat: no-repeat;
}

.backgroundCover(@url) {
    background-image: url(@url);
    background-size: cover;
    background-repeat: no-repeat;
}