.flex-column {
    display: flex;
    flex-direction: column;
}

.headerBackground(@gradient1, @gradient2, @url, @size, @position: initial) {
    background: linear-gradient(@gradient1), 
        linear-gradient(@gradient2), 
        url(@url);
    background-size: @size;
    background-position: @position;
    background-repeat: no-repeat;
}

.backgroundFullWidth(@url) {
    background-image: url(@url);
    background-size: 100% auto;
    background-repeat: no-repeat;
}