// Colors
@headerBlue: #147490;
@featurePurple: #583e53;

// Gradient
@blueHeaderGradient: @headerBlue, transparent 90%;
@whiteHeaderGradient: 0deg, white, transparent;

// Background Size
@fullWidth: 100% auto;
@fullHeight: auto 100%;

// Media Queries
@mobile: (max-width: 500px);
@midSized: (min-width: 501px) and (max-width: 1059px);
@desktop: (min-width: 1060px);

// Image urls
@headerMobile: "../images-business/header-image-6.jpg";
@headerDesktop: "../images-business/header-image-7.jpg";

@feature1: "../images-business/header-image-5.jpg";
@feature2: "../images-business/features-1.jpg";
@feature3: "../images-business/features-3.jpg";

@actionBackground: "../images-business/action-background.jpeg";

