.flex-column {
  display: flex;
  flex-direction: column;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 62.5%;
}
html body {
  font-size: 1.6rem;
  font-family: proxima-nova-extra-condensed, sans-serif;
  font-weight: 700;
  font-style: italic;
}
.current-page {
  text-decoration: underline;
}
header {
  width: 100%;
}
@media (max-width: 500px) {
  header {
    background: linear-gradient(#147490, transparent 90%), linear-gradient(0deg, white, transparent), url("../images-business/header-image-6.jpg");
    background-size: auto 100%;
    background-position: 60% 0;
    background-repeat: no-repeat;
  }
}
@media (min-width: 501px) and (max-width: 1059px) {
  header {
    background: linear-gradient(#147490, transparent 90%), linear-gradient(0deg, white, transparent), url("../images-business/header-image-7.jpg");
    background-size: auto 100%;
    background-position: 60% 0;
    background-repeat: no-repeat;
  }
}
@media (min-width: 1060px) {
  header {
    background: linear-gradient(#147490, transparent 90%), linear-gradient(0deg, white, transparent), url("../images-business/header-image-7.jpg");
    background-size: 100% auto;
    background-position: initial;
    background-repeat: no-repeat;
  }
}
header nav {
  display: flex;
  flex-direction: row-reverse;
  padding: 1.5rem;
}
header nav ul {
  list-style: none;
  display: flex;
}
header nav ul li {
  padding: 0.5rem;
}
header nav ul li a {
  text-decoration: none;
  color: wheat;
}
header nav ul li a:hover {
  text-decoration: underline;
}
header .header {
  height: 100vh;
  display: flex;
  align-items: center;
  margin-bottom: 10rem;
}
header .header div {
  margin: 0 auto;
  text-align: center;
}
header .header div h1 {
  font-size: 4.8rem;
  color: wheat;
  margin-bottom: 1.5rem;
}
header .header div h2 {
  font-size: 3.2rem;
  color: wheat;
  margin-bottom: 2.5rem;
}
header .header div a {
  text-decoration: none;
  color: wheat;
  border: solid 0.1rem wheat;
  border-radius: 1.5rem;
  padding: 0.5rem 1.5rem;
}
header .header div a:hover {
  background-color: wheat;
  color: #583e53;
}
#key-features {
  display: flex;
  flex-direction: column;
  padding: 2.5rem 0;
  color: #583e53;
  text-shadow: 0.1rem 0.1rem 0.2rem wheat;
  padding: 0 1.5%;
  margin: 0 auto 7.5rem auto;
  max-width: 165rem;
}
#key-features h2 {
  font-size: 5.2rem;
  text-align: center;
  color: #583e53;
  text-shadow: 0.1rem 0.1rem 0.2rem wheat;
}
@media (min-width: 1060px) {
  #key-features h2 {
    font-size: 7.2rem;
  }
}
#key-features .feature {
  width: 85%;
  margin: 5rem 0;
}
@media (min-width: 1060px) {
  #key-features .feature {
    min-width: 100rem;
    box-shadow: 0.5rem 1rem 1.5rem;
  }
}
@media (min-width: 1060px) {
  #key-features .feature div {
    width: 35%;
    padding: 4.5rem 6.5rem;
  }
}
#key-features .feature .feature-graphic {
  max-width: 100%;
  margin-bottom: 1.5rem;
  border-bottom: solid 0.2rem #583e53;
}
@media (min-width: 1060px) {
  #key-features .feature .feature-graphic {
    display: none;
  }
}
#key-features .feature h3 {
  font-size: 3.4rem;
  margin-bottom: 1.5rem;
}
@media (min-width: 1060px) {
  #key-features .feature h3 {
    font-size: 4.8rem;
  }
}
@media (min-width: 1060px) {
  #key-features .feature p {
    font-size: 1.8rem;
  }
}
@media (min-width: 1060px) {
  #key-features .feature:nth-child(2) {
    background-image: url("../images-business/header-image-5.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media (min-width: 1060px) {
  #key-features .feature:nth-child(3) {
    background-image: url("../images-business/features-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  #key-features .feature:nth-child(3) div {
    float: right;
    text-align: right;
  }
}
@media (min-width: 1060px) {
  #key-features .feature:nth-child(4) {
    background-image: url("../images-business/features-3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}
#key-features .invert {
  align-self: flex-end;
}
#call-2-action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  background: linear-gradient(white, transparent 35%), url("../images-business/action-background.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}
#call-2-action h2 {
  font-size: 6.4rem;
  margin-bottom: 2.5rem;
  color: #583e53;
  text-shadow: 0.1rem 0.1rem 0.2rem wheat;
}
#call-2-action .action-container {
  display: flex;
  flex-direction: column;
  height: 40%;
  color: #583e53;
  text-shadow: 0.1rem 0.1rem 0.2rem wheat;
}
@media (max-width: 500px) {
  #call-2-action .action-container {
    width: 100vw;
  }
}
@media (min-width: 501px) and (max-width: 1059px) {
  #call-2-action .action-container {
    width: 80vw;
  }
}
@media (min-width: 1060px) {
  #call-2-action .action-container {
    width: 40vw;
  }
}
#call-2-action .action-container p {
  margin: 10% auto;
  width: 70%;
  font-size: 2.2rem;
}
#call-2-action .action-container .c2a-button {
  border: 0.5rem solid #583e53;
  border-radius: 1.5rem;
  width: 70%;
  margin: 0 auto;
}
#call-2-action .action-container .c2a-button a {
  text-decoration: none;
  color: #583e53;
  text-shadow: 0.1rem 0.1rem 0.2rem wheat;
  font-size: 5.2rem;
}
#mission {
  padding: 5rem 0;
}
#mission div {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  border-radius: 1.5rem;
}
@media (min-width: 1060px) {
  #mission div {
    width: 50%;
  }
}
#mission div h2 {
  color: #583e53;
  font-size: 3.2rem;
  text-align: center;
  margin-bottom: 2.5rem;
}
#mission div p {
  color: #583e53;
  font-size: 1.4rem;
}
@media (min-width: 1060px) {
  #mission div p {
    font-size: 1.8rem;
  }
}
footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5rem;
}
