.flex-column {
  display: flex;
  flex-direction: column;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 62.5%;
}
html body {
  font-size: 1.6rem;
  font-family: proxima-nova-extra-condensed, sans-serif;
  font-weight: 700;
  font-style: italic;
}
.current-page {
  text-decoration: underline;
}
header {
  width: 100%;
}
@media (max-width: 500px) {
  header {
    background: linear-gradient(#147490, transparent 90%), linear-gradient(0deg, white, transparent), url("../images-business/header-image-6.jpg");
    background-size: auto 100%;
    background-position: 60% 0;
    background-repeat: no-repeat;
  }
}
@media (min-width: 501px) {
  header {
    background: linear-gradient(#147490, transparent 90%), linear-gradient(0deg, white, transparent), url("../images-business/header-image-7.jpg");
    background-size: 100% auto;
    background-position: initial;
    background-repeat: no-repeat;
  }
}
header nav {
  display: flex;
  flex-direction: row-reverse;
  padding: 15px;
}
header nav ul {
  list-style: none;
  display: flex;
}
header nav ul li {
  padding: 5px;
}
header nav ul li a {
  text-decoration: none;
  color: wheat;
}
header .header {
  height: 100vh;
  display: flex;
  align-items: center;
  margin-bottom: 100px;
}
header .header div {
  margin: 0 auto;
  text-align: center;
}
header .header div h1 {
  font-size: 4.8rem;
  color: wheat;
  margin-bottom: 15px;
}
header .header div h2 {
  font-size: 3.2rem;
  color: wheat;
  margin-bottom: 25px;
}
header .header div a {
  text-decoration: none;
  color: wheat;
  border: solid 1px wheat;
  border-radius: 15px;
  padding: 5px 15px;
}
#key-features {
  display: flex;
  flex-direction: column;
  padding: 25px 0;
  color: #583e53;
  text-shadow: 1px 1px 2px wheat;
  padding: 0 1.5%;
  margin-bottom: 75px;
}
#key-features h2 {
  font-size: 5.2rem;
  text-align: center;
  color: #583e53;
  text-shadow: 1px 1px 2px wheat;
}
@media (min-width: 501px) {
  #key-features h2 {
    font-size: 7.2rem;
  }
}
#key-features .feature {
  width: 85%;
  margin: 50px 0;
}
@media (min-width: 501px) {
  #key-features .feature {
    height: 450px;
    padding: 45px 65px;
  }
}
@media (min-width: 501px) {
  #key-features .feature div {
    width: 35%;
  }
}
#key-features .feature .feature-graphic {
  max-width: 100%;
  margin-bottom: 15px;
}
@media (min-width: 501px) {
  #key-features .feature .feature-graphic {
    display: none;
  }
}
#key-features .feature h3 {
  font-size: 3.4rem;
  margin-bottom: 15px;
}
@media (min-width: 501px) {
  #key-features .feature h3 {
    font-size: 4.8rem;
  }
}
@media (min-width: 501px) {
  #key-features .feature p {
    font-size: 1.8rem;
  }
}
@media (min-width: 501px) {
  #key-features .feature:nth-child(2) {
    background-image: url("../images-business/header-image-5.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
  }
}
@media (min-width: 501px) {
  #key-features .feature:nth-child(3) {
    background-image: url("../images-business/features-1.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
  }
  #key-features .feature:nth-child(3) div {
    float: right;
    text-align: right;
  }
}
@media (min-width: 501px) {
  #key-features .feature:nth-child(4) {
    background-image: url("../images-business/features-3.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
  }
}
#key-features .invert {
  align-self: flex-end;
}
.call-2-action {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 100vh;
}
.call-2-action h2 {
  font-size: 4.8rem;
}
.call-2-action div:nth-child(2) {
  width: 35%;
}
.call-2-action .c2a-button a {
  text-decoration: none;
}
